page-new-map {
        #map {
          height: 45%;
        }
        .scroll {
          height:200px;
        }
        .spinner-container {
          width: 100%;
          text-align: center;
          padding: 3px;
      }
      
}
